---
layout: gallery
title: Minha iniciação na suspensão corporal
columns: 4
---
{% for img in site.data.suspensao %}
    {% assign title = img.nome | split: '.' %}
    {% if title[1] == 'mp4' %}
        <div class="gallery-item">
            <video controls preload="metadata">
                <source src="{{ img.link }}" type="video/mp4">
            </video>
        </div>
    {% else %}
        <div class="gallery-item">
            <a href="{{ img.link }}" target="blank"><img src="{{ img.thumb | default: img.link }}" srcset="{{ img.thumb | default: img.link }} 600w, {{ img.link }} 1600w" sizes="(max-width: 808px) 45vw, 18vw" alt="{{ img.nome }}" class="imagem"/></a>
        </div>
    {% endif %}
{% endfor %}
