---
layout: gallery
title: Wallpapers
---
<div class="main">
    <div id="grid" class="mauto central cool-red neon galeria">
        <div class="tcenter">
            <h2>Alguns Wallpapers que eu fiz</h2>
        </div>
        <div class="linha">
        {% for img in site.data.wallpapers %}
            {% assign mod = forloop.index0 | modulo: 5 %}
            {% if mod == 0 %}
                </div>
                <div class="linha">
            {% endif %}
            <div class="container-img">
                <a href="{{ img.link }}" target="blank"><img src="{{ img.thumb | default: img.link }}" srcset="{{ img.thumb | default: img.link }} 600w, {{ img.link }} 1600w" sizes="(max-width: 808px) 45vw, 18vw" alt="{{ img.nome }}" class="wallpaper imagem"/></a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
