<div class="window" style="top:25%; left:50%">
  <div class="window_top">
	<div class="window_title to-the-right font15">
		<h4 class="tiny-margin-top tiny-margin-bottom title-text greyish">
			<!--Titulo aqui-->
			Bem Vindo
		</h4>
	</div>
    <div class="top_buttons">
      <img class="minimizeButton" src="/assets/img/minimize.jpg"/>
      <img class="closeButton" src="/assets/img/close.jpg"/>
    </div>
  </div>
  <div class="windowMiddle">
    <div class="windowContent">
		<span class="font18">Para maximizar sua experiência de navegação,escute:</span>
		<iframe width="460" height="190" src="https://www.youtube.com/embed/MV_3Dpw-BRY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</br></br>
    </div>
  </div>
  <div class="window_bottom">
  </div>
</div>
