
<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="random">
		{%include back.html%}
		<div class="window">
		  <div class="window_top">
			<div class="window_title to-the-right font15">
				<h4 class="tiny-margin-top tiny-margin-bottom title-text greyish">
					{{ page.title }} {{ page.data }}
				</h4>
			</div>
		    <div class="top_buttons">
		      <img class="minimizeButton" src="/assets/img/minimize.jpg"/>
		      <img class="closeButton" src="/assets/img/close.jpg"/>
		    </div>
		  </div>
		  <div class="windowMiddle">
		    <div class="windowContent">
				{{ content }}
		    </div>
		  </div>  
		  <div class="window_bottom">
		  </div>
		</div>
		{% include rodape.html %}
	</body>
</html>
